@using MangaWeb.Managers;
@using Microsoft.Extensions.Localization;


@for (var i = 0; i < Model.Manga.Characters.Count; ++i)
{
    var character = Model.Manga.Characters[i];
    var role = character.IsMain == true ? "Main" : "Supporting";
    if (i >= 14)
    {
        <div class="item" style="display:none">
            <a asp-page="./Character" asp-route-id="@character.Id">
                <img class="characterImage" src="@character.ImageUrl" />
            </a>
            <span class="caption">@string.Concat($"{character.Name}", $" ({role})")</span>
        </div>
        continue;
    }
    <div class="item" style="display:inline-block">
        <a asp-page="./Character" asp-route-id="@character.Id">
            <img class="characterImage" src="@character.ImageUrl" />
        </a>
        <span class="caption">@string.Concat($"{character.Name}", $" ({role})")</span>
    </div>
}
@if (Model.Manga.Characters.Count >= 14)
{
    <br />
    <form method="get">
        <input id="HideShowCharacters" onclick="ShowAllCharacters()" class="w-25 btn btn-lg btn-primary" type="button" value="@Model.Localizer["SeeAll"]" />
    </form>
}

<script>

    function ShowAllCharacters() {
        var elements = document.getElementsByClassName("item");
        var button = document.getElementById("HideShowCharacters");
        if (button.value === "Hide" || button.value === "Спрятать") {
            Array.prototype.forEach.call(elements, function (element, index) {
                if (index >= 14) {
                    element.style.display = "none"
                }
            });
                button.value = "@Html.Raw(@Model.Localizer["SeeAll"].Value)";
            return;
        }
        Array.prototype.forEach.call(elements, function (element) {
            element.style.display = "inline-block"
        });
            button.value = "@Html.Raw(@Model.Localizer["Hide"].Value)";
    }

</script>