@using MangaWeb.Managers;


<aside class="rightOptions">

    <div class="whiteText20">
        @Model.Localizer["OrderBy"].Value:
        <select id="options" name="Option" asp-items="Model.OrderOptions">
            <option>@Model.Localizer["NoOptions"].Value</option>
        </select>
        <br />
        <div onclick="genersLinkClick()" id="genersLink" class="genersLinkDark whiteText20">@Model.Localizer["Genres"].Value<i id="arrow" class="arrow down"></i></div>

        <div id="genersSelector" style="display: none;" class="genersSelector">
            @for (var i = 0; i < Model.Genres.Count; ++i)
            {
                <div class="generToSelect">
                    <input id="@Model.Genres[i]" class="generCheckBox" name="Geners" value="@Model.Genres[i]" type="checkbox" checked="@Model.Input?.Geners?.Contains(Model.Genres[i])" />
                    <label for="@Model.Genres[i]">@Model.Genres[i]</label>
                </div>
            }
        </div>
        <div id="scoresSelector" class="scoresSelector">
            @Model.Localizer["Chapters"].Value<br />
            <input type="text" id="CountOfChaptersFrom" name="CountOfChaptersFrom" placeholder="@Model.Localizer["From"].Value" class="orderInput" />
            <span>—</span>
            <input type="text" id="CountOfChaptersTo" name="CountOfChaptersTo" placeholder="@Model.Localizer["To"].Value" class="orderInput" />
        </div>
        <div id="scoresSelector" class="scoresSelector">
            @Model.Localizer["Score"].Value<br />
            <input type="text" id="ScoreFrom" name="ScoreFrom" placeholder="@Model.Localizer["From"].Value" class="orderInput" />
            <span>—</span>
            <input type="text" id="ScoreTo" name="ScoreTo" placeholder="@Model.Localizer["To"].Value" class="orderInput" />
        </div>
        <div id="genersSelector" class="yearsSelector">
            @Model.Localizer["Year"].Value<br />
            <input type="text" id="YearFrom" name="YearFrom" placeholder="@Model.Localizer["From"].Value" class="orderInput" />
            <span>—</span>
            <input type="text" id="YearTo" name="YearTo" placeholder="@Model.Localizer["To"].Value" class="orderInput" />
            <br />
            <div class="generToSelect">
                <input id="@Model.Localizer["Ongoing"]" name="Status" value="@Model.Localizer["Ongoing"]"
                       type="checkbox" class="generCheckBox" onclick="MangaStatusChecker('on')" />
                <label for="@Model.Ongoing">@Model.Localizer["Ongoing"]</label>
                <input id="@Model.Localizer["Released"]" name="Status" value="@Model.Localizer["Released"]"
                       type="checkbox" class="generCheckBox" onclick="MangaStatusChecker('re')" />
                <label for="@Model.Released">@Model.Localizer["Released"]</label>
            </div>
            <div class="generToSelect">
                <input id="@Model.Localizer["English"]" name="Language" value="@Model.Localizer["English"]"
                       type="checkbox" class="generCheckBox" onclick="MangaLanguageChecker('eng')" />
                <label for="@Model.English">@Model.Localizer["English"]</label>
                <input id="@Model.Localizer["Russian"]" name="Language" value="@Model.Localizer["Russian"]"
                       type="checkbox" class="generCheckBox" onclick="MangaLanguageChecker('ru')" />
                <label for="@Model.Russian">@Model.Localizer["Russian"]</label>
            </div>
        </div>
        <input onclick="order()" style="width:auto;" class="btn btn-lg btn-primary" type="submit" value="@Model.Localizer["Submit"].Value" />
    </div>
    <script>
        function MangaLanguageChecker(language) {
            var ongoEl = document.getElementById("English");
            ongoEl = ongoEl == null ? document.getElementById("Английский") : ongoEl;
            var releEl = document.getElementById("Russian");
            releEl = releEl == null ? document.getElementById("Русский") : releEl;

            if (language === 'eng') {
                releEl.checked = false;
            }
            else {
                ongoEl.checked = false;
            }
        }
        function MangaStatusChecker(status) {
            var ongoEl = document.getElementById("Ongoing");
            ongoEl = ongoEl == null ? document.getElementById("Выходит") : ongoEl;
            var releEl = document.getElementById("Released");
            releEl = releEl == null ? document.getElementById("Завершён") : releEl;

            if (status === 'on') {
                releEl.checked = false;
            }
            else {
                ongoEl.checked = false;
            }
        }
    </script>
</aside>