@using MangaWeb.Managers;
@inject UIValuesManager uiValueManager;


<aside class="rightOptions">

        <form class="whiteText20" method="get">
        @uiValueManager.OrderBy:
            <select name="Option" asp-items="Model.OrderOptions">
                <option>@uiValueManager.NoOptions</option>
            </select>
            <br />
        <div onclick="genersLinkClick()" id="genersLink" class="genersLinkDark whiteText20">@uiValueManager.Genres<i id="arrow" class="arrow down"></i></div>

            <div id="genersSelector" style="display: none;" class="genersSelector">
            @for (var i = 0; i < Model.Genres.Count; ++i)
            {
                        <div class="generToSelect">
                            <input id="@Model.Genres[i]" class="generCheckBox" name="Geners" value="@Model.Genres[i]" type="checkbox" />
                            <label for="@Model.Genres[i]">@Model.Genres[i]</label>
                        </div>
            }
            </div>
            <div id="scoresSelector" class="scoresSelector">
            @uiValueManager.Chapters<br />
            <input type="text" name="CountOfChaptersFrom" placeholder="@uiValueManager.From" class="orderInput" />
                <span>—</span>
            <input type="text" name="CountOfChaptersTo" placeholder="@uiValueManager.To" class="orderInput" />
            </div>
            <div id="scoresSelector" class="scoresSelector">
            @uiValueManager.Score<br />
            <input type="text" name="ScoreFrom" placeholder="@uiValueManager.From" class="orderInput" />
                <span>—</span>
            <input type="text" name="ScoreTo" placeholder="@uiValueManager.To" class="orderInput" />
            </div>
            <div id="genersSelector" class="yearsSelector">
                @uiValueManager.Year<br />
            <input type="text" name="YearFrom" placeholder="@uiValueManager.From" class="orderInput" />
                <span>—</span>
                <input type="text" name="YearTo" placeholder="@uiValueManager.To" class="orderInput" />
            </div>
        <input asp-page-handler="Order" style="width:auto;" class="width100 btn btn-lg btn-primary" type="submit" value="@uiValueManager.Submit" />
        </form>

    </aside>