@page
@model MangaWeb.Pages.Manga_s_.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
             @Html.DisplayNameFor(model => model.Manga.ImageUrl)
        </dt>
        <dd class="col-sm-10">
             <img src=@Html.DisplayFor(model => model.Manga.ImageUrl) style="height:140px;width:95px;">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manga.Description)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manga.ReadSiteUrl)
        </dt>
        <dd class="col-sm-10">
            Click <a href="@Model.Manga.ReadSiteUrl">here</a> to redirect to reading site.
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manga?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
