@page "{id}"
@model MangaWeb.Pages.Forum.PostsModel
@{
}


@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <partial name="../Areas/Identity/Pages/Account/_StatusMessage" model="Model.StatusMessage" />
}

<a asp-page="./Topics">@Model.Localizer["Back"]</a>


<br />
 <form method="post">
        
        <input type="hidden" name="id" value="@Model.Topic.Id" />
        <textarea oninput="auto_grow(this)" placeholder="@Model.Localizer["WritePost"]" name="body"></textarea>
        <br>
    <input asp-page-handler="CreatePost" type="submit" class="w-15 btn btn-lg btn-primary" value="@Model.Localizer["Create"]" />
    </form>
    <br />
    @foreach(var post in Model.Posts)
    {
        var user = await Model._userManager.FindByIdAsync(post.AuthorId);
    <div>
        <h4><img class="headerImage" src="@user.ProfileImage" />  @user.UserName</h4><h5>@post.Content</h5><h6>@post.Date.ToShortTimeString() @post.Date.ToShortDateString()</h6>
        </div>
    }