@page
@model MangaWeb.Pages.ForumModel
@{
}
<h3>@Model.Localizer["CreateTopic"]</h3>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <partial name="../Areas/Identity/Pages/Account/_StatusMessage" model="Model.StatusMessage" />
}

<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Topic.Title">@Model.Localizer["Title"]</label>
        <input asp-for="Topic.Title" class="form-control" />
        <span asp-validation-for="Topic.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Topic.Description">@Model.Localizer["Description"]</label>
        <input asp-for="Topic.Description" class="form-control" />
        <span asp-validation-for="Topic.Description"></span>
    </div>
    <br />
    <input asp-page-handler="CreateTopic" class="btn btn-lg btn-primary" type="submit" value="@Model.Localizer["Create"]">
</form>
<br />
<h2>@Model.Localizer["Topics"]</h2>
@foreach (var topic in Model.Topics)
{
    var user = await Model.UserManager.FindByIdAsync(topic.AuthorId);
    <div class="forumItem">
        <a asp-page="Posts" asp-route-id="@topic.Id">@topic.Title</a> 
        <h5>@topic.Description</h5>

        by  <img class="headerImage" src="@user.ProfileImage" />  @user.UserName on @topic.CreatedAt.ToString("yyyy-MM-dd")

        @if (Model.CurrentUser?.Role == Areas.Identity.Data.Role.Admin)
        {
            <br />
            <form method="post">
                <input hidden="hidden" name="topicId" value="@topic.Id">
                <input asp-page-handler="DeleteTopic" class="w-15 btn btn-lg btn-primary" type="submit" value="@Model.Localizer["Delete"]">
            </form>
        }
    </div>
}


