@page "{userName}"
@model MangaWeb.Pages.UserModel
@{

}
@if (!string.IsNullOrEmpty(Model.YouWriteToYourselfMessage))
{
    <partial name="../Areas/Identity/Pages/Account/_StatusMessage" model="Model.YouWriteToYourselfMessage" />
}
<h2>@Model.MangaWebUser.UserName</h2>
<img class="usersInfoImage" src="@Model.MangaWebUser.ProfileImage" />
<form method="post">
    <input hidden name="userName" value="@Model.MangaWebUser.UserName" />
<input asp-page-handler="WriteToUser" type="submit" class="w-15 btn btn-lg btn-primary" value="@Model.Localizer["Write"]" />
</form>
<br />
<h4>@Model.Localizer["UserFavManga"]</h4>
<br />
@if (Model.FavoriteManga != null && Model.FavoriteManga.Count != 0)
{
    @foreach (var manga in Model.FavoriteManga)
    {
        <div class="manga-card">
            <a class="text-decoration-none" asp-page="./Manga" asp-route-id="@manga.Id">
                <img class="imgMangaCart" src="@manga.MangaImageUrl">
                <div class="manga-card-text">@Html.DisplayFor(modelItem => manga.OriginTitle)</div>
            </a>
        </div>
    }
}
else
{
    <h6>@Model.Localizer["NoFavManga"]</h6>
}