@page
@model UsersInfoModel



@{
    foreach (var user in Model.Users)
    {
        <a asp-page="./User" asp-route-userName="@user.UserName">
            <h2>@user.UserName</h2>
            <img class="usersInfoImage" src="@user.ProfileImage" />
        </a>
        <br />
        @if (Model.CurrentUser != null && Model.CurrentUser.Role == Areas.Identity.Data.Role.Admin)
        {<br />
            @((await Model._userManager.IsLockedOutAsync(user)) ? "Banned" : "Not banned");
            <br />
            <form method="post">
                <input id="id" name="id" hidden value="@user.Id" />
                <input asp-page-handler="BanUser" type="submit" class="w-25 btn btn-lg btn-primary" value="Ban" />
                <input asp-page-handler="UnbanUser" type="submit" class="w-25 btn btn-lg btn-primary" value="Unban" />
            </form>
        }
        <br />
    }
}

