@page "{id?}"
@model MangaWeb.Pages.MangaPages.CharacterModel
@{
    ViewData["Title"] = "Character - " + @Model.MangaCharacter.Name;
}

<dl class="row">
    <dt class="col-sm-2">
        @Model.Localizer["Image"]
    </dt>
    <dd class="col-sm-10">
        <img src="@Html.DisplayFor(model => model.MangaCharacter.ImageUrl)" class="imageCharacterPage">
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["Name"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model =>model.MangaCharacter.Name)
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["IsMain"]
    </dt>
    <dd class="col-sm-10">
        @Html.Raw($" <input id='@Model.MangaCharacter.Id' onclick='return false;' class='generCheckBox' type='checkbox' {(Model.MangaCharacter.IsMain ? "checked" : "unchecked")} />")
        <label for="@Model.MangaCharacter.Id"></label>
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["Description"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model =>model.MangaCharacter.Description)
    </dd>


</dl>
<br />
@if (Model.MangaCharacter.ImagesUrls != null)
{

    @foreach (var image in Model.MangaCharacter.ImagesUrls)
    {
        <img class="imageCharacterPage" src="@image">
    }
}
<br />
<br />
<form method="post">

    <input type="hidden" name="id" value="@Model.MangaCharacter.Id" />
    <textarea class="comment" oninput="auto_grow(this)" placeholder="@Model.Localizer["WriteYourCom"]" name="body"></textarea>
    <br>
    <input asp-page-handler="CreateComment" type="submit" class="w-15 btn btn-lg btn-primary" value="@Model.Localizer["Send"]" />
</form>
<br />
@foreach (var comment in Model.Comments.Reverse())
{
    var user = await Model._userManager.FindByIdAsync(comment.AuthorId);
    <div>
        <h4><a asp-page="../User" asp-route-userName="@user.UserName"><img class="headerImage" src="@user.ProfileImage" /></a>  @user.UserName</h4><h5>@comment.Body</h5><h6>@comment.Date.ToShortTimeString() @comment.Date.ToShortDateString()</h6>
    </div>
}



