@page "{id?}"
@model MangaWeb.Pages.MangaPages.CharacterModel


<dl class="row">
    <dt class="col-sm-2">
        @Model.Localizer["Image"]
    </dt>
    <dd class="col-sm-10">
        <img src="@Html.DisplayFor(model => model.MangaCharacter.ImageUrl)" class="imageCharacterPage">
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["Name"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model =>model.MangaCharacter.Name)
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["IsMain"]
    </dt>
    <dd class="col-sm-10">
        @Html.Raw($" <input id='@Model.MangaCharacter.Id' onclick='return false;' class='generCheckBox' type='checkbox' {(Model.MangaCharacter.IsMain ? "checked" : "unchecked")} />")
        <label for="@Model.MangaCharacter.Id"></label>
    </dd>
    <dt class="col-sm-2">
        @Model.Localizer["Description"]
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model =>model.MangaCharacter.Description)
    </dd>


</dl>
<br />
@if (Model.MangaCharacter.ImagesUrls != null)
{

    @foreach (var image in Model.MangaCharacter.ImagesUrls)
    {
        <img class="imageCharacterPage" src="@image">
    }
}




