@page "{handler?}"
@model MangaWeb.Pages.MangaPages.IndexModel

@{
    Layout = "_Layout";
    var statusFinished = "";
    var volumesUnknown = "";
    var chaptersUnknown = "";
}

<form method="post">

    Title: <input asp-for="SearchString" />
    <input type="submit" value="Filter" />


</form>
<div class="background">
    <partial name="PartialViewes/_OrderPartial" />
    <div class="mangas">

        <h2 class="text-black">@Model.Localizer["Manga"].Value</h2>


        @foreach (var item in Model.Manga)
        {

            <div id="@item.Id" onmouseover="onMangaHover(@item.Id)" onmouseout="onMangaOut(@item.Id)" class="manga-card">
                <a class="text-decoration-none" asp-page="./Manga" asp-route-id="@item.Id">
                    <img class="imgMangaCart" src="@item.MangaImageUrl">
                    <div class="manga-card-text">@Html.DisplayFor(modelItem => item.OriginTitle)</div>
                </a>
            </div>
            <div id="@item.Id-mangaInfo" class="mangaInforOnHover">
                <h3>@item.OriginTitle</h3>
                <p>
                    <img class="mangaInfoImg" src="@item.MangaImageUrl">

                    <div class="mangaInfoCenter">
                        <div class="mangaInfoDesc">
                            <b><big>@Model.Localizer["Description"].Value:</big></b> @item.Description
                        </div>
                        <b><big>@Model.Localizer["Genres"].Value:</big></b> @string.Join(", ",item.Genres)
                    </div>
                    <div class="mangaInfoRight">
                        <b><big>@Model.Localizer["Type"].Value:</big></b> @item.Type<br>
                        <b><big>@Model.Localizer["Score"].Value:</big></b> @item.Score<br>
                        @if (item.Language != Models.Language.ru)
                        {
                            <b><big>@Model.Localizer["Popularity"].Value:</big></b> @item.Popularity
                            <b><big>@Model.Localizer["Ranked"].Value:</big></b> @item.Ranked
                            <br>
                        }
                        @if (item.CountOfVolume == -1)
                        {
                            volumesUnknown = $"<b><big>{@Model.Localizer["Volumes"].Value}:</big></b> Unknown";
                            chaptersUnknown = $"<b><big>{@Model.Localizer["Chapters"].Value}:</big></b> Unknown";
                        }
                        else
                        {
                            volumesUnknown = $"<b><big>{@Model.Localizer["Volumes"].Value}:</big></b> {@item.CountOfVolume}";
                            chaptersUnknown = $"<b><big>{@Model.Localizer["Chapters"].Value}:</big></b> {@item.CountOfChapters}";
                        }
                        @Html.Raw(volumesUnknown)
                        @Html.Raw(chaptersUnknown)
                        <br>

                        @if (item.Status == Models.MangaStatus.Finished)
                        {
                            statusFinished = $"<b><big>{@Model.Localizer["Published"].Value}:</big></b> {item.Published}";
                        }
                        else
                        {
                            statusFinished = $"<b><big>{@Model.Localizer["Status"].Value}:</big></b> {item.Status}";
                        }
                        @Html.Raw(statusFinished)

                    </div>

                </p>
            </div>
        }
    </div>

</div>
