@page "{handler?}"
@using MangaWeb.Managers;
@using Microsoft.AspNetCore.Mvc.Localization;
@model IndexModel

@{
  
    ViewData["Title"] = Model.Localizer["Profile"].Value;
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Image != null)
            {
                <div class="form-floating">
                    <img class="profileImage" src="@Model.Image" />
                </div>
            }
            <br />
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">@Model.Localizer["Save"].Value</button>
        </form>
        <br />
        <form asp-action="AddImage" method="post" enctype="multipart/form-data">
            <div class="form-floating">
                <input type="file" asp-for="FormFile" accept=".jpg, .jpeg, .png" class="form-control" multiple />
            </div>

            <input id="update-profile-image-button" asp-page-handler="AddImage" type="submit" class="w-100 btn btn-lg btn-primary" value="@Model.Localizer["AddImage"].Value">
        </form>
        <br />
        <form asp-action="SetRandomAnimeProfileImage" method="post" enctype="multipart/form-data">
            <input id="update-profile-image-button" asp-page-handler="SetRandomAnimeProfileImage" type="submit" class="w-100 btn btn-lg btn-primary" value="@Model.Localizer["SetRandAnimImg"].Value">
        </form>
        @if (Model.MangaWebUser.Role != Role.User)
        {
            <br />
            <form asp-action="SetRandomHentaiProfileImage" method="post" enctype="multipart/form-data">
                <input id="update-profile-image-button" asp-page-handler="SetRandomHentaiProfileImage" type="submit" class="w-100 btn btn-lg btn-primary" value="Set random hentai profile image">
            </form>
        }
        <br />
        @Model.Localizer["ChooseLanguage"].Value
        <div style="display:inline-flex; width:200px;">
            <form method="post" >
                <button class="buttonLanguage" value="ru" name="language" type="submit" asp-page-handler="ChangeLanguage">
                    <img class="@(LanguageManager.IsEnlish() ? "languageImg" : "languageImgSelected")" src="~/img/Russia.png" />
                </button>
                <button class="buttonLanguage" value="en" name="language" type="submit" asp-page-handler="ChangeLanguage">
                    <img class="@(LanguageManager.IsEnlish() ? "languageImgSelected" : "languageImg")" src="~/img/UK.png" />
                </button>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
